@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
.form-control {
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
}


.setting-transition {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.setting-transition.show {
  max-height: 300px; /* Adjust the value based on your content height */
}



