@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
.form-control {
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
}


select {
  background-color: transparent;
}

option {
  color: white;
  font-weight: 400;
  opacity: 0.2; /* Adjust the opacity as needed */
  color: aqua;
}
